<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arts Gallery</title>
    <link href="/css/arts.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="slider">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://wallpaperaccess.com/full/1839405.jpg"
              class="img-fluid"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://feelingnifty.com/wp-content/uploads/2019/11/cherry-blossom-acrylic-painting-for-beginners-720x540.jpeg"
              class="img-fluid"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/81Q7ukVcDOL._SL1500_.jpg"
              class="img-fluid"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <nav class="navbar">
        <div class="title-head">
          <span class="image"><img src="/image/logo1.png" /></span>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/arts">Artworks</a></li>
          <% if(admin == true){ %>
          <li><a href="/arts/new">New Artwork</a></li>
          <li><a href="/arts/newcategory">New Category</a></li>
          <% } %> <% if(currentUser == true){ %>
          <li><a href="/cart">My Cart</a></li>
          <% } %> <% if(currentUser === undefined) {%>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <% }else { %>
          <li><a href="/logout">Logout</a></li>
          <% } %>
        </ul>
      </nav>
    </div>

    <h2 class="head">Explore Our Artworks by Categories</h2>

    <hr id="line" />

    <div class="category">
      <% for(let cat of cats){ %>
      <div class="cat">
        <img src="<%= cat.image[0].url %> " alt="" srcset="" />
        <h3><%= cat.title %></h3>
        <p class="catp"><%= cat.description %></p>
        <a href="/arts/<%= cat.title %>" class="button"> Check paintings -> </a>
      </div>
      <% } %>
    </div>

    <div class="location">
      <div class="textl">
        <h2>Location</h2>
        <p>
          Art Mart, Bandstand Promenade, Mount Mary, Bandra West, Mumbai,
          Maharashtra 400050
        </p>
      </div>
      <div id="map"></div>
    </div>

    <div class="footer">
      <ul class="footer__nav">
        <li class="footer__item">
          <a class="footer__link" href="#">About</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Pricing</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Terms of Use</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Privacy Policy</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Careers</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Blog</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Contact Us</a>
        </li>
      </ul>
      <img id="ft_logo" src="image/logo1.png" alt="Logo" class="footer__logo" />
      <p class="footer__copyright">
        &copy; Copyright by
        <a class="footer__link twitter-link" target="_blank" href="#">
          Art mart</a
        >.
      </p>
      <p class="footer_p">Made by : <span>Shreyas Keni</span></p>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
  <script>
    const maptoken = "<%- process.env.MAPBOXTOKEN%>";
  </script>
  <script src="/javascript/showPage.js"></script>
</html>
