<% layout('./layout/BoilerPlate')%>
<nav class="navbars">
  <div class="title-head">
    <span class="image"><img src="/image/logo1.png" /></span>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/arts">Artworks</a></li>
    <% if(data.admin == true){ %>
    <li><a href="/arts/new">New Artwork</a></li>
    <% } %> <% if(data.currentUser == true){ %>
    <li><a href="/cart">My Cart</a></li>
    <% } %> <% if(data.currentUser === undefined) {%>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <% }else { %>
    <li><a href="/logout">Logout</a></li>
    <% } %>
  </ul>
</nav>
<link rel="stylesheet" href="/css/star.css" />

<div class="Detail justify-content-center">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 30rem">
        <img
          src="<%= data.art.image[0].url %> "
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <% console.log(data.art.title) %>
          <div class="head">
            <h5 class="card-title"><%= data.art.title %></h5>
            <h5 class="card-text" id="a-name">
              - By <%=data.art.name.toUpperCase() %>
            </h5>
          </div>
          <p class="card-title pt-3"><%= data.art.description %></p>

          <div class="text-center">
            <button
              class="btn btn-success mt-3 align-self-center"
              id="rzp-button"
            >
              INR <%= data.art.price %>
            </button>
          </div>
          <% if(data.user.admin == true){ %>
          <div class="text-center mt-3">
            <form
              class="d-inline"
              action="/arts/art/<%= data.art._id %>?_method=delete"
              method="post"
            >
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const artwork = <%- JSON.stringify(data.art)%>;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="/javascript/pay.js"></script>
